
<%= render "retailers/my_stations"%>

<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @station.brand %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @station.business_name %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @station.tax_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @station.phone_number %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @station.contact_person %>
</p>

<p>
  <strong>Cell number:</strong>
  <%= @station.cell_number %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @station.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @station.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @station.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @station.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @station.zip %>
</p>

<p>
  <strong>Station reg number:</strong>
  <%= @station.station_reg_number %>
</p>

<p>
  <strong>Retailer:</strong>
  <%= @station.retailer %>
</p>
<h2>Tanks</h2>
<% @station.tanks.each do |comment| %>
  <p>
    <strong>Type of Fuel</strong>
    <%= tank.type_of_fuel %>
  </p>

  <p>
    <strong>Size</strong>
    <%= tank.size %>
  </p>
  <p>
    <strong>Registration ID</strong>
    <%= tank.registration_id %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= simple_form_for([@station, @station.tanks.build]) do |f| %>
<div class="form-inputs">
  <%= f.input :type_of_fuel, label: "Fuel Type"%>
  <%= f.input :size, label: "Size" %>
  <%= f.input :registration_id, label: "Tank Registration ID"%>
  <%= f.association :station, :as => :hidden %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end %>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
</div>
