

<div class='row'>
      <div class='col-sm-12'>
        <div class='page-header'>
          <h1 class='pull-left'>
          Stations
          </h1>
        </div>
        <ul class="nav nav-pills">
          <li role="presentation"  class="active"><%= link_to "My stations", retailer_my_stations_path %></li>
          <li role="presentation"><%= link_to "Inactive Stations", retailer_inactive_stations_path %></li>
          <li role="presentation"><%= link_to "Transfers", retailer_transfers_path %></li>
          <li role="presentation" class='pull-right'> <%= link_to new_station_path do %>
                <span class="btn btn-success"><i class='icon-plus'></i> Add Station</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

<% @stations.each do |station| %>
              <div class="col-sm-12 box" style="margin-bottom: 0">
                  <div class="box-header blue-background">
                    <div class="title"><%= station.brand %></div>
                    <div class="actions">
                        <%=link_to station_path(station) do %>
                              <span class="btn btn-danger">View</span>
                              <%end%>
                        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                      </a>
                    </div>
                  </div>
                  <div class="box-content">
                      <img class="img-responsive" src="http://placehold.it/230x230&amp;text=Photo">
                    <%= station.business_name %>
                  </div>
                </div>
<%end%>
